alembic==1.18.4
annotated-types==0.7.0
anyio==4.12.1
bidict==0.23.1
certifi==2026.2.25
click==8.3.1
distro==1.9.0
granian==2.7.2
greenlet==3.3.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jiter==0.13.0
mako==1.3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
openai==2.24.0
packaging==26.0
platformdirs==4.9.2
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-core==2.41.5
pygments==2.19.2
python-dotenv==1.2.1
python-engineio==4.13.1
python-multipart==0.0.22
python-socketio==5.16.1
redis==7.2.1
reflex==0.8.27
reflex-hosting-cli==0.1.61
rich==14.3.3
simple-websocket==1.1.0
sniffio==1.3.1
sqlalchemy==2.0.47
sqlmodel==0.0.37
starlette==0.52.1
tqdm==4.67.3
typing-extensions==4.15.0
typing-inspection==0.4.2
watchfiles==1.1.1
wrapt==2.1.1
wsproto==1.3.2
